h1{
    margin-top: 50px;
    color: #dfdfdf;
}

.purple{
    color: #b30ab3;
}
.orange{
    color: orange;
}

.hint{
    font-size: 12px;
    color: #9a9a9a;
}

.table{
    vertical-align: top;
    &.editors{
        padding-left: 50px;
    }
    .row{
        box-sizing: border-box;
        vertical-align: top;
        width: 220px;
        display: inline-block;
        padding: 20px;
        // input{
        //     padding: 12px;
        // }
    }
    .row-editor{
        vertical-align: top;
        box-sizing: border-box;
        width: 50%;
        display: inline-block;
        padding: 50px;
        padding-top: 0;
        padding-left: 0px;
        padding-right: 120px;
        &.smaller{
            width: 45%
        }
        &.bigger{
            width: 45%
        }
    }
}